altgraph==0.17.4
asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
Django==5.0.6
idna==3.7
instaloader==4.11
mysql-connector-python==8.4.0
packaging==24.0
pefile==2023.2.7
pillow==10.3.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pypng==0.20220715.0
PyQRCode==1.2.1
pytube==15.0.0
pywin32-ctypes==0.2.2
requests==2.32.3
setuptools==69.5.1
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
